/*prevent problems with different browsers*/
*{box-sizing: border-box;}
body{

        font-family:"Lobster", cursive;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        color: #03658C;
}
/* Header Stuff Here */
header {
    background-color: #fcf1dd;
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 1vw;
}
header h1 {
margin: 0;
color:  #03658C;
}
header p {
    margin: 0;
    color:  #03658C;
    letter-spacing: .5px;
    }
                /* small screens */
                @media only screen and (max-width:600px) {
                    nav ul{
                        margin: 0;
                        padding: 0 2vw;
                        list-style-type: none;
                    }
            nav a {
                display: block;
                padding: .8rem;
                text-decoration: none;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                border-bottom: solid 1px #03658C;
                color: #03658C;
            }
            nav .active a{
                background-color: #03658C;
                background-image: linear-gradient(to bottom, #03658C, #04BEBE);
                color: white;
            }
                } /*end  of the media query*/



                /* BIG screens */
                @media only screen and (min-width:601px) {
                    nav {
                        background-color: #fce4b7;
                    }
                    nav ul {
                    list-style-type: none;
                    padding: 0 2vw;
                    margin: 0;
                    display: flex;
                    }
                nav a {
                    font-size: 1.1rem;
                    text-decoration: none;
                    color:#03658C;
                    font-weight: 700;
                    display: block;
                    padding: .83rem 2rem;
                }
                nav li.active a {
                    background-color: #03658C;
                    color: white;
                }
                nav a:hover {
                    color:white;
                }
                } /*end  of the media query*/






/* stuff for the main */
main {
padding: 1rem 2vw;
}
main h1 {
    color: #04BEBE;
}
main h2 {
    color: #03658C;
    margin-bottom: .2rem;
}
main hp {
    color: #F2C49B;
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 3vw;
    background-color: #fcf1dd;
}
main dl dt {
color: #04BEBE;
font-weight: 700;
}
main dl dd {
    color: #03658C;
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
}
main li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    background-color: #fcf1dd;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #03658C;
    border-radius: .5rem;
}

main a {
    color: #03658C;
}
.responsive-image {
    width: 100%;
    margin: 0;
}
.responsive-image img{
    width: 100%;
    height: auto;
}




main a:hover {
    color: #04BEBE;
}

figure.wrapped {
width: 30%;
margin: 0 0 0 2%;
float: right;
}
figure.wrapped img {
width: 100%;
height: auto;
}

figure.wrapped figcaption {
    text-align: center;
}

div.gallery {
display: flex;
flex-wrap: wrap;

}
div.gallery figure{
    margin: .5rem 2%
}
div.gallery img:hover{
    box-shadow: 0px 0px 10px #04BEBE;
}
div.gallery figcaption{
text-align: center;
font-size: .8rem;
}


.myform fieldset {
    border: 1px solid #03658C;
    border-radius: 3px;
    margin-bottom: 1rem;
    }
    .myform legend {
    color:  #04BEBE;
    font-size: .8rem;
    }
    .myform label {
        margin: .5rem;
    }
    .myform label, .myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea
     {
        display: block;
    }
    
    .myform [type=text], .myform [type=tel], myform select, .myform textarea, .myform [type=email] {
        border: solid 1px #03658C;
        padding: .3rem;
        width: 250px;
        border-radius: .3rem;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 200;
    }
    
    .myform textarea {
        height: 6rem;
    }
    .myform :required {
        background-color: white;
    }
    .myform [type=submit]{
    background-color:  #04BEBE;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
    }
    

table.vacation-essentials {
    width: 100%;
    border-collapse: collapse;
}

table.vacation-essentials th {
    background-color: #03658C;  
    color: white;              
    padding: .5rem 2vw;        
    text-align: left;          
}


table.vacation-essentials td {
    color: #03658C;            
    padding: .4rem 2vw;     }  

table.vacation-essentials tr:nth-child(odd) {
    background-color: #f7f7f7;  
}

/* Hover effect for rows */
table.vacation-essentials tr:hover {
    background-color:  #A1E4E4 
}


/* footer stuff here */
footer {
    background-color: #fcf1dd;
    text-align: center;
    color:  #04BEBE;
    padding: 1rem 0;
    font-size: .8rem;
    color: #03658C;
}
footer a {
    color: #03658C;
}
header, nav, main, footer{
    max-width: 64rem;
    margin: 0 auto;
}
iframe{
    border:0
}
