/* prevent problems with different browsers */
* { box-sizing: border-box; }

body {
    font-family: "CoFo Raffine";
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: #024861;
}

/* Header */
header {
    background-color: #f9eacc;
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}

header div {
    padding-left: 1vw;
}

header h1 {
    margin: 0;
    color: #024861;
}

header p {
    margin: 0;
    color: #024861;
    letter-spacing: .5px;
}

/* small screens */
@media only screen and (max-width:600px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }

    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #024861;
        color: #024861;
    }

    nav .active a {
        background-color: #024861;
        background-image: linear-gradient(to bottom, #024861, #04A5A5);
        color: white;
    }
}

/* BIG screens */
@media only screen and (min-width:601px) {
    nav {
        background-color: #f7e0b0;
    }

    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    }

    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #024861;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }

    nav li.active a {
        background-color: #024861;
        color: white;
    }

    nav a:hover {
        color: #04A5A5;
    }
}

/* Main */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #04A5A5;
}

main h2 {
    color: #024861;
    margin-bottom: .2rem;
}

/* hp seemed like a mistake, leaving selector but adjusting color */
main hp {
    color: #d19a6f;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #faebcc;
}

main dl dt {
    color: #04A5A5;
    font-weight: 700;
}

main dl dd {
    color: #024861;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    background-color: #faebcc;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #024861;
    border-radius: .5rem;
}

main a {
    color: #024861;
}

.responsive-image {
    width: 100%;
    margin: 0;
}

.responsive-image img {
    width: 100%;
    height: auto;
}

main a:hover {
    color: #04A5A5;
}

/* Wrapped figure */
figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
}

/* Gallery */
div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure {
    margin: .5rem 2%;
}

div.gallery img:hover {
    box-shadow: 0px 0px 10px #04A5A5;
}

div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
}

/* Forms */
.myform fieldset {
    border: 1px solid #024861;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend {
    color: #04A5A5;
    font-size: .8rem;
}

.myform label {
    margin: .5rem;
}

.myform label,
.myform select,
.myform [type=text],
.myform [type=tel],
.myform [type=email],
.myform textarea {
    display: block;
}

.myform [type=text],
.myform [type=tel],
myform select,
.myform textarea,
.myform [type=email] {
    border: solid 1px #024861;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
}

.myform textarea {
    height: 6rem;
}

.myform :required {
    background-color: white;
}

.myform [type=submit] {
    background-color: #04A5A5;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}

/* Table */
table.vacation-essentials {
    width: 100%;
    border-collapse: collapse;
}

table.vacation-essentials th {
    background-color: #024861;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}

table.vacation-essentials td {
    color: #024861;
    padding: .4rem 2vw;
}

table.vacation-essentials tr:nth-child(odd) {
    background-color: #f7f7f7;
}

table.vacation-essentials tr:hover {
    background-color: #92d9d9;
}

/* Footer */
footer {
    background-color: #f9eacc;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #024861;
}

footer a {
    color: #024861;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}

iframe {
    border: 0;
}

